# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Docker / logs
*.log
logs/

# OS
.DS_Store

# IDE
.vscode/

# Cache
*.cache

# ML artifacts (if any)
*.pkl
*.joblib

# Minikube / binaries
minikube*
*.iso

# Kubernetes configs (optional safety)
.kube/